/* CSS HEX */
:root{
--pearl: #e6e1c5ff;
--marian-blue: #324376ff;
--sage: #d4cb92ff;
--vista-blue: #80a4edff;
--columbia-blue: #bcd3f2ff;
}

/* CSS HSL */
--pearl: hsla(51, 40%, 84%, 1);
--marian-blue: hsla(225, 40%, 33%, 1);
--sage: hsla(52, 43%, 70%, 1);
--vista-blue: hsla(220, 75%, 72%, 1);
--columbia-blue: hsla(214, 67%, 84%, 1);

/* SCSS HEX */
$pearl: #e6e1c5ff;
$marian-blue: #324376ff;
$sage: #d4cb92ff;
$vista-blue: #80a4edff;
$columbia-blue: #bcd3f2ff;

/* SCSS HSL */
$pearl: hsla(51, 40%, 84%, 1);
$marian-blue: hsla(225, 40%, 33%, 1);
$sage: hsla(52, 43%, 70%, 1);
$vista-blue: hsla(220, 75%, 72%, 1);
$columbia-blue: hsla(214, 67%, 84%, 1);

/* SCSS RGB */
$pearl: rgba(230, 225, 197, 1);
$marian-blue: rgba(50, 67, 118, 1);
$sage: rgba(212, 203, 146, 1);
$vista-blue: rgba(128, 164, 237, 1);
$columbia-blue: rgba(188, 211, 242, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);
$gradient-right: linear-gradient(90deg, #e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);
$gradient-bottom: linear-gradient(180deg, #e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);
$gradient-left: linear-gradient(270deg, #e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);
$gradient-top-right: linear-gradient(45deg, #e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);
$gradient-bottom-right: linear-gradient(135deg, #e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);
$gradient-top-left: linear-gradient(225deg, #e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);
$gradient-bottom-left: linear-gradient(315deg, #e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);
$gradient-radial: radial-gradient(#e6e1c5ff, #324376ff, #d4cb92ff, #80a4edff, #bcd3f2ff);