/* CSS HEX */
--lavender-web: #d7dae5ff;
--marian-blue: #324376ff;
--columbia-blue: #b9cddaff;
--tiffany-blue: #a6d8d4ff;
--castleton-green: #285943ff;

/* CSS HSL */
--lavender-web: hsla(227, 21%, 87%, 1);
--marian-blue: hsla(225, 40%, 33%, 1);
--columbia-blue: hsla(204, 31%, 79%, 1);
--tiffany-blue: hsla(175, 39%, 75%, 1);
--castleton-green: hsla(153, 38%, 25%, 1);

/* SCSS HEX */
$lavender-web: #d7dae5ff;
$marian-blue: #324376ff;
$columbia-blue: #b9cddaff;
$tiffany-blue: #a6d8d4ff;
$castleton-green: #285943ff;

/* SCSS HSL */
$lavender-web: hsla(227, 21%, 87%, 1);
$marian-blue: hsla(225, 40%, 33%, 1);
$columbia-blue: hsla(204, 31%, 79%, 1);
$tiffany-blue: hsla(175, 39%, 75%, 1);
$castleton-green: hsla(153, 38%, 25%, 1);

/* SCSS RGB */
$lavender-web: rgba(215, 218, 229, 1);
$marian-blue: rgba(50, 67, 118, 1);
$columbia-blue: rgba(185, 205, 218, 1);
$tiffany-blue: rgba(166, 216, 212, 1);
$castleton-green: rgba(40, 89, 67, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);
$gradient-right: linear-gradient(90deg, #d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);
$gradient-bottom: linear-gradient(180deg, #d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);
$gradient-left: linear-gradient(270deg, #d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);
$gradient-top-right: linear-gradient(45deg, #d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);
$gradient-bottom-right: linear-gradient(135deg, #d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);
$gradient-top-left: linear-gradient(225deg, #d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);
$gradient-bottom-left: linear-gradient(315deg, #d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);
$gradient-radial: radial-gradient(#d7dae5ff, #324376ff, #b9cddaff, #a6d8d4ff, #285943ff);